html,
body {
    height: 100%;
}

aside{
    min-width: 200px;
}
aside .nav-pills .nav-link{
    border-radius: 0;
    color: #444444;
}

aside .nav-pills .nav-link.active{
    background:rgba(0,0,0,0.05);
    color: #b90000;
    border-left: 4px solid #b90000;
}


/* Upload Video Page */

.upload-icon{
    background-color: #EBEBEB;
    height:200px;
    width:200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.upload-button{
    position: relative;
}

.upload-button input{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}